.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 700;
}

header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 2rem;
  text-align: center;
  /* color: #fff;
  background-image: url("https://unsplash.com/photos/6J--NXulQCs"); */
  background-image: radial-gradient(
    circle,
    #eafffe,
    #d5ebeb,
    #c0d7d9,
    #acc4c7,
    #98b1b5
  );
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: cover;
  background-size: cover;
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 2px;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 7rem;
  }
}
